.gallery {
  display: flex;
  gap: 1rem;
  flex-direction: row-reverse;
  /*
  * start and end use the direction of the content,
  * flex-start and flex-end use the flex direction
  */
  justify-content: start;
  direction: rtl;
}
