.gallery {
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

.gallery .card {
  width: 20rem;
}

.gallery .card:nth-child(1) {
  flex-grow: 2;
  /* Set the base size of the flex item */
  flex-basis: 40%;
}

.gallery .card:nth-child(2) {
  flex-grow: 1;
}
